---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
        "theme-{{ site.theme_color | default: "black" }}.scss"
;

body {
	background-color:#f0f0f0;
}
.container {
	max-width:80em;
}
.card {
	word-wrap: break-word;
	background-color: #ffffff;
	border:1px solid #e5e9f2;
	border-radius: 0.25rem;
	padding: 1.75rem;
}

.card-mini h1, .card-mini h2, .card-mini h3 {
	margin-top:0px;
	padding-top:0px;
}

.card .subtitle {
  color:#6a6a6a;
  font-size:1em;
}

.card p {
	width:auto;
}



.h0 {font-size:80px !important; padding-top:30px; padding-bottom:35px;}
rect {fill: #69b3a2;}
rect:hover {fill: #8CD3DD;}
path:hover {}
.toolTip {
  position: absolute;
  display: none;
  padding:4px 10px;
  height: auto;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  color:white;
  text-align: center;
  font-size:12px;
}
.line {
  stroke-width: 4px;
}