---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` and set theme here
@import
				"theme-{{ site.theme_color | default: "black" }}.scss"
;

body {
	background-color:#f5f6fa;
}

p {
	width:auto;
}

.h0 {
	font-size:80px;
	padding-top:30px; 
	padding-bottom:35px;
}

.container {
	max-width:80em;
}

.card {
	word-wrap: break-word;
	background-color: #ffffff;
	border:1px solid #e5e9f2;
	border-radius: 0.25rem;
	padding: 1.75rem;
}

.card-mini h1, .card-mini h2, .card-mini h3 {
	margin-top:0px;
	padding-top:0px;
}

.card .subtitle {
	color:#6a6a6a;
	font-size:1.1em;
}


.svg-container{
	display: flex;
	justify-content: center;
}

rect {
	fill: #69b3a2;
}

rect:hover {
	fill: #8CD3DD;
}

path:hover {}

.toolTip {
	position:absolute;
	display:none;
	padding:5px 12px;
	height:auto;
	background:none repeat scroll 0 0 rgba(252,252,252,0.9);
	border:1px solid #d9d8d8;
	border-radius:.25em;
	color:#4d4d4d;
	text-align:center;
	font-size:14px;
}

.line {
	stroke-width: 4px;
}

header.clearfix {
	background-color:#353535;
	color:white;
}

header.clearfix .text-accent {
	color:#CCC;
}